* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #4e4e4e;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

header {
    background-color: #e5e5e5;
    height: 123px;
    padding: 1%; /* if needed?? */
}

header img {
    float: left;
    margin-top: 30px;
}

nav {
    float: right;
    margin-top: 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #4e4e4e;
}

nav ul li a:hover {
    color: #1abb9c;
}

.current {
    color: #1abb9c !important;
}

.banner {
    background: url(images/headerbg.png) no-repeat center center;
    height:600px;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

#services {
    padding: 50px 0;
}

.col {
    width: 21%;
    float: left;
    text-align: center;
    margin: 0 2%;
}

.col h3 {
    margin: 15px 0;
}

hr {
    color: rgba(0, 0, 0, 0.11);
}

#works {
    padding: 50px 0;
}

#works h3:first-child {
    text-transform: uppercase;
    padding-bottom: 20px;
}

#works img {
    width: 100%;
    margin-bottom: 15px;
}

.works-col {
    width: 30%;
    float: left;
    margin: 0 1%;
}

.works-col p {
    margin: 10px 0;
}

.works-col p:first-of-type {
    color: #a8a8a8;
    font-size: 13px;
}

#quote {
    background-color: rgba(0, 0, 0, 0.03);
    color: #a1a1a1;
    width: 100%;
    height: 230px;
    text-align: center;
}

#quote img {
    display: block;
    margin: 0 auto;
    padding: 40px 0;
}

#quote p {
    width: 50%;
    margin: 0 auto;
}

footer {
    height: 459px;
    background: url(images/Footer-Bg.png);
    padding: 30px 0;
    color: #cacaca;
}

.footer-col {
    width: 25%;
    float: left;
    padding: 0 2% 25px 2%;
}

.footer-col h3 {
    text-transform: uppercase;
    margin: 10px 0;
    color: #6c6c6c;
}

.footer-col p {
    margin: 20px 0;
    line-height: 25px;
    font-size: 14px;
}

.twitter {
    background: url(images/twitter-icon.png) no-repeat 0px 5px;
    padding-left: 20px;
}

footer hr {
    background-color: rgba(255, 255, 255, 0.11);
}

.copyright {
    font-size: 14px;
    margin-top: 25px;
}