/*-----Global Styles-----*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #4e4e4e;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.wrapper {
    margin: 0 auto;
    width: 70%;
}

/*-----Header-----*/

header {
    background-color: #e5e5e5;
    height: 123px;
    padding-top: 1%;
}

#mobile-nav {
    display: none;
    height: 0;
}

header img {
    float: left;
    margin-top: 30px;
}

.banner {
    background: url(images/headerbg.png) no-repeat center center;
    height:600px;
}

/*-----Navigation-----*/

nav {
    float: right;
    margin-top: 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    font-weight: 700;
    margin-left: 25px;
    text-transform: uppercase;
}

nav ul li a {
    color: #4e4e4e;
    text-decoration: none;
}

nav ul li a:hover {
    color: #1abb9c;
}

.current {
    color: #1abb9c !important;
}

/*-----Services Section-----*/

.services {
    padding: 50px 0;
}

.col {
    display: inline-block;
    margin: 0 2%;
    text-align: center;
    width: 20%;
    vertical-align: top;
}

.col h3 {
    margin: 15px 0;
}

hr {
    color: rgba(0, 0, 0, 0.11);
}

/*-----Works Section-----*/

.works {
    padding: 50px 0;
}

.works h3:first-child {
    padding-bottom: 20px;
    text-transform: uppercase;
}

.works img {
    margin-bottom: 15px;
    width: 100%;
}

.works-col {
    float: left;
    margin: 0 1%;
    width: 30%;
}

.works-col p {
    margin: 10px 0;
}

.works-col p:first-of-type {
    color: #a8a8a8;
    font-size: 13px;
}

/*-----Quote Section-----*/

.quote {
    background-color: rgba(0, 0, 0, 0.03);
    color: #a1a1a1;
    height: 230px;
    text-align: center;
    width: 100%;
}

.quote img {
    display: block;
    margin: 0 auto;
    padding: 40px 0;
}

.quote p {
    margin: 0 auto;
    width: 50%;
}

/*-----Footer-----*/

footer {
    background-color: #222222;
    border-top: 5px solid #151515;
    color: #cacaca;
    min-height: 459px;
    padding: 30px 0;
}

.footer-col {
    display: inline-block;
    padding: 0 2% 25px 2%;
    width: 24%;
    vertical-align: top;
}

.footer-col h3 {
    color: #6c6c6c;
    margin: 10px 0;
    text-transform: uppercase;
}

.footer-col p {
    font-size: 14px;
    line-height: 25px;
    margin: 20px 0;
}

.twitter {
    background: url(images/twitter-icon.png) no-repeat 0px 5px;
    padding-left: 20px;
}

footer hr {
    background-color: rgba(255, 255, 255, 0.11);
}

.copyright {
    font-size: 14px;
    margin-top: 25px;
}

/*-----Media Queries-----*/

@media screen and (max-width: 1024px) {
    
    .wrapper {
        width: 85%;
    }
    
}

@media screen and (max-width:840px) {
    
    .wrapper {
        width: 90%;
    }
    
    header img {
        display: block;
        float: none;
        margin: 10px auto 0;
    }

    nav {
        float: none;
        text-align: center;
    }
    
    footer {
        height: auto;
    }
    
    .footer-col {
        margin: 2%;
        padding: 0 2%;
        width: 45%;
    }
            
    .col {
        margin: 0 2% 40px 2%;
        width: 45%;
    }
}

    @media screen and (max-width: 768px) {
        
        .wrapper {
            width: 95%;
        }
        
        .works h3:first-child {
            text-align: center;
        }
        
        .works-col {
            float: none;
            margin: 40px 15%;
            width: 70%;
        }
        
        .quote p {
              width: 70%;
        }
    }

@media screen and (max-width: 620px) {
    
   #mobile-nav {
        display: block;
        height: auto;
        margin-top: -10px;
    }
    
    .wrapper:first-child {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    nav ul {
        background-color: #e5e5e5;
        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 9999;    
    }
    
    nav ul.open {
        height: auto;
    }
    
    nav ul li {
        border-top: 1px solid #9f9999;
        display: block;
        margin: 0;
        padding: 10px 0;
    }
    
    .footer-col {
        margin: 10px 5%;
        width: 90%;
    }
    
    .footer-col p {
        margin: 15px 0;
    }
            
    .col {
        margin: 30px 15%;
        width: 70%;
    }
}   